In [ ]:
# Interacting with Databases

import sqlite3
#connecting with the database.
con = sqlite3.connect('mydata2.sqlite')
query = """CREATE TABLE test(a VARCHAR(20), b VARCHAR(20),c REAL,        d INTEGER
);"""

con.execute(query)
con.commit()

data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

s = """select * from test"""
cursor = con.execute(s)
rows = cursor.fetchall()
list(cursor)

cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

[x[0] for x in cursor.description]

cursor.description

#!/usr/bin/python

import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database5.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")
# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

db.commit()

results = db.execute("select * from grades1 order by id")
for row in results:
    print((row))
print("-" * 60 )

results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results: print(row)
print("-"* 60 )

results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

s1 = [1, 2, 3]
m = 2
d = 1
list1 = [1 for x in range(20) if sum(s1[x:x+m]) == d]

list(range(20))

sum(s1[4:4+m])

sum(s1[0:0+m])

l1 = [1,2,3,4,5]

l1[7]

True & True